@import url('https://fonts.cdnfonts.com/css/distinctly-dan');
body {
  margin: 0;
  font-family: 'Distinctly Dan', sans-serif;
                                                                               
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
